In [1]:
import pandas as pd
import numpy as np

In [24]:
len(serving),len(products),len(nutrient)

(118956, 119546, 1615745)

In [13]:
products.head()

,NDB_Number,long_name,data_source,gtin_upc,manufacturer,date_modified,date_available,ingredients_english
0,45001524,MOCHI ICE CREAM BONBONS,LI,1.902213e+10,"G. T. Japan, Inc.",2017-11-15 19:19:38,2017-11-15 19:19:38,"ICE CREAM INGREDIENTS: MILK, CREAM, SUGAR, STR..."
1,45001528,CHIPOTLE BARBECUE SAUCE,LI,5.051379e+12,FRESH & EASY,2018-04-26 17:23:31,2018-04-26 17:23:31,"WATER, SUGAR, TOMATO PASTE, MOLASSES, DISTILLE..."
2,45001529,HOT & SPICY BARBECUE SAUCE,LI,5.051379e+12,FRESH & EASY,2018-04-26 18:17:37,2018-04-26 18:17:37,"SUGAR, WATER, DISTILLED VINEGAR, TOMATO PASTE,..."
3,45001530,BARBECUE SAUCE,LI,5.051379e+12,FRESH & EASY,2018-04-26 17:24:00,2018-04-26 17:24:00,"TOMATO PUREE (WATER, TOMATO PASTE), SUGAR, DIS..."
4,45001531,BARBECUE SAUCE,LI,5.051379e+12,FRESH & EASY,2018-04-26 17:47:41,2018-04-26 17:47:41,"SUGAR, DISTILLED VINEGAR, WATER, TOMATO PASTE,..."

In [2]:
serving=pd.read_csv('Serving_Size.csv')
serving.head()

,NDB_No,Serving_Size,Serving_Size_UOM,Household_Serving_Size,Household_Serving_Size_UOM,Preparation_State
0,45001524,40.0,g,1.0,PIECE,NaN
1,45001528,37.0,g,2.0,Tbsp,NaN
2,45001529,34.0,g,2.0,Tbsp,NaN
3,45001530,35.0,g,2.0,Tbsp,NaN
4,45001531,37.0,g,2.0,Tbsp,NaN

In [12]:
products=pd.read_csv('Products.csv',low_memory=False)
products.head()

ValueError: Integer column has NA values in column 3

In [4]:
upc=pd.read_excel('Grocery_UPC_Database.xlsx')

In [5]:
upc.head()

,grp_id,upc14,upc12,brand,name
0,1,35200264013,35200264013,Riceland,Riceland American Jazmine Rice
1,2,11111065925,11111065925,Caress,Caress Velvet Bliss Ultra Silkening Beauty Bar...
2,3,23923330139,23923330139,Earth's Best,Earth's Best Organic Fruit Yogurt Smoothie Mix...
3,4,208528800007,208528800007,Boar's Head,Boar's Head Sliced White American Cheese - 120 Ct
4,5,759283100036,759283100036,Back To Nature,Back To Nature Gluten Free White Cheddar Rice ...

In [36]:
sum(upc.upc14==upc.upc12)

109806

In [38]:
len(upc)

110436

In [34]:
productupc=pd.merge(products, upc, left_on='gtin_upc',right_on='upc12',how='left')
productupc[['brand','manufacturer','upc14','gtin_upc']][productupc.upc14.notnull() ].head()

In [52]:
usdabrand=productupc.brand.value_counts().index
usdabrand[:5]
usdabrand=pd.Series(usdabrand)

Index(['Ahold', 'Goya', 'Del Monte', 'Mccormick', 'Roland'], dtype='object')

In [60]:
amb=pd.read_csv('amb.csv').reset_index() 
amb=amb.ix[:,2]
type(amb)

In [33]:
q=productupc[productupc['gtin_upc'].notnull()]
q['upc12'].describe()

/Users/meleciawright/anaconda/lib/python3.5/site-packages/numpy/lib/function_base.py:3834: RuntimeWarning: Invalid value encountered in percentile
  RuntimeWarning)

count    1.714200e+04
mean     2.675698e+11
std      3.313288e+11
min      9.349503e+07
25%               NaN
50%               NaN
75%               NaN
max      8.999040e+11
Name: upc12, dtype: float64

In [14]:
35200264013==35200264013.0

True

In [9]:
type(upc.upc12[0] )

numpy.int64

In [10]:
products.NDB_Number.nunique()#119546

119546

In [11]:
products.manufacturer.nunique()

13604

In [14]:
groclist=pd.DataFrame(products.manufacturer.value_counts().index,columns=['usdabrands'])
groclist.head()

              usdabrands
0         The Kroger Co.
1           Meijer, Inc.
2  Wal-Mart Stores, Inc.
3         Conagra Brands
4     Weis Markets, Inc.

In [15]:
groclist

                            usdabrands
0                       The Kroger Co.
1                         Meijer, Inc.
2                Wal-Mart Stores, Inc.
3                       Conagra Brands
4                   Weis Markets, Inc.
5               Topco Associates, Inc.
6                        Target Stores
7                        Safeway, Inc.
8                Food Town Stores Inc.
9                   Kellogg Company US
10                             SPARTAN
11                  Harris-Teeter Inc.
12                     Supervalu, Inc.
13           Wakefern Food Corporation
14                            ROUNDY'S
15            Whole Foods Market, Inc.
16                     Ahold USA, Inc.
17                        Hy-Vee, Inc.
18            Pinnacle Foods Group LLC
19                 Hannaford Bros. Co.
20                   Giant Eagle, Inc.
21        The Moran Group Incorporated
22               Schnuck Markets, Inc.
23          Wegmans Food Markets, Inc.
24           McCormick & Company, Inc.
25      The Hain Celestial Group, Inc.
26                     Ahold Usa, Inc.
27                    Goya Foods, Inc.
28                Del Monte Foods Inc.
29          Western Family Foods, Inc.
...                                ...
13574              Marx Brothers, Inc.
13575         Eliza's Quest Foods, LLC
13576              GABRIELLA'S KITCHEN
13577          Chlorophyll Brands, LLC
13578                Gourmet Epic Inc.
13579             Avitae Holdings, LLC
13580                     ANZIO & SONS
13581                          CECCATE
13582            Hygloss Products Inc.
13583             BRIGITTE'S NATURALLY
13584                       SAM'S WEST
13585          Hollandia Nursery, Inc.
13586                FRESH FROM MEIJER
13587               Vintage Food Corp.
13588            PANTAINORASINGH BRAND
13589                   LEWIS BAKERIES
13590  Gladder's Gourmet Cookies, Inc.
13591  Liquid Management Partners, LLC
13592     Vegas Valley Brewing Company
13593                       DE MI PAIS
13594               Macro-Organic Inc.
13595                          MAAMOUL
13596                      Arriba, LLC
13597                           LUV YU
13598                      STATER BROS
13599                             CHE!
13600                  NAUGHTY OR NICE
13601                  BF Imports Inc.
13602               Fratelli Polli Spa
13603                 Crook-Miller Co.

[13604 rows x 1 columns]

                       0
0         The Kroger Co.
1           Meijer, Inc.
2  Wal-Mart Stores, Inc.
3         Conagra Brands
4     Weis Markets, Inc.

In [4]:
deriv=pd.read_csv('Derivation_Code_Description.csv')
deriv.head()

  derivation_code                                Derivation_Descript
0            LCCD  Calculated from a daily value percentage per s...
1            LCCS     Calculated from value per serving size measure
2            LCGA  Given by information provider as an 'approxima...
3            LCGE  Given by information provider as an 'exact' va...
4            LCGL  Given by information provider as a 'less than'...

In [5]:
nutrient=pd.read_csv('nutrient.csv', low_memory=False)
nutrient.head()

,NDB_No,Nutrient_Code,Nutrient_name,Derivation_Code,Output_value,Output_uom
0,45127487,203.0,Protein,LCGA,4.3,g
1,45127487,204.0,Total lipid (fat),LCGA,18.9,g
2,45127487,205.0,"Carbohydrate, by difference",LCGA,72.8,g
3,45127487,207.0,Ash,LCGA,2.0,g
4,45127487,255.0,Water,LCGA,2.0,g

In [9]:
nutrient.Nutrient_name.nunique()

85

In [20]:
n4=nutrient.pivot(index='NDB_No', values = 'Output_value')

ValueError: cannot label index with a null key